@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helmet');
/* 0. Mandatory */
body {
    width:100%;
    height:100%;
    color:#fff !important;
    /* height: 100vh; */
}
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* 1. Fonts */
/* 1.1 Helmet Neue */
@font-face {
  font-family: 'Helmet Neue', 'Helmet', 'Helmet Regular', 'Helvetica', sans-serif, monospace, serif, Verdana;
  src: url("fonts/HelmetNeue-Regular.otf");
}
:root {
  --bs-body-font-family: 'Helmet Neue', 'Helmet', 'Helmet Regular', 'Helvetica', sans-serif, monospace;
}
h1, h2, h3, h4, h5, h6 {
 font-family:'Helmet Neue', 'Helmet', 'Helmet Regular', sans-serif;
}
/* 1.2 Inter */
p { 
 font-family: 'Inter';
}
/* 2. Classes */
.fancy-text {
   background: linear-gradient(to bottom right, #b749e0, #7c536e);
   -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* 3. RWD */
@media screen and (max-width: 465px) {
	#show_bg_2 h1 {
		margin-top: 2em !important;
		margin-left: 0 !important;
	}
	#show_bg_2 p {
		margin-left: 0 !important;
	}
}
@media screen and (max-width:475px){
  h1, p, .navbar-brand {
    white-space: normal !important;
  }
.navbar-brand {
	margin-left: -15px !important;
}
}
@media screen and (min-width: 1280px) and (max-width:1364px) {
#show_bg_2 h1 {
    margin-top:25rem !important;
    margin-left:8rem !important;
	font-size: 2em !important;
}
#show_bg_2 p {
    margin-left:8rem !important;
	font-size: 1em !important;
}
	
}
@media screen and (max-width: 1920px) {
#show_bg_2 h1 {
    margin-top:15rem !important;
    margin-left:3rem !important;
}
#show_bg_2 p {
    margin-left:3rem !important;
}
		div.content h1, div.content p {
		margin-left: 7%; !important;
	}
}
.page-header {
	 user-select: none;
	 background:transparent;
	 position: fixed;
	 top: 0;
	 height: 40px;
	 color: #fff;
	 width: 100%;
	 line-height: 40px;
}
 .page-header__top {
	 display: flex;
	 justify-content: space-between;
	 padding: 0 16px;
}
 .page-header__toggle {
	 font-size: 2em;
}
 .navigation {
	 opacity: 0.5;
	 height: 0;
	 overflow: hidden;
	 transition: 0.7s;
}
 .navigation__item {
	 background: transparent;
	 padding: 0 16px;
}
.navigation__item:hover {
	    font-size:15.78px;
    transition:0.3s;
}
 .navigation--visible {
	 opacity: 1;
	 height: 200px;
}
 @media (min-width: 480px) {
	 .page-header {
		 display: flex;
	}
	 .page-header__top {
		 margin-right: auto;
	}
	 .page-header__top, .page-header__bottom {
		 display: block;
	}
	 .page-header__toggle {
		 display: none;
	}
	 .navigation {
		 display: block;
		 opacity: 1;
		 height: auto;
	}
	 .navigation__item {
		 opacity: 0.8;
		 display: inline-block;
	}
	 .navigation__item:hover {
		 cursor: pointer;
		 opacity: 1;
	}
}
/* 4. Main page */
#show_bg_2 {
 background:radial-gradient(circle at 115% -20%,#7c536e 0,#23112b 29%,#2a0936 50%,transparent 100%,rgba(0,0,0,.32) 0),radial-gradient(circle at 25% 125%,rgba(121,98,153,.5) 0,rgba(49,18,90,.8) 25%,#2a0936 50%);
color: #fff;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: white;
    padding: 20px;
}
#show_bg_2 h1 {
    margin-top:15rem;
    margin-left:3rem;
}
#show_bg_2 p {
    margin-left:3rem;
}
.navbar-brand {
    margin-top:-6.9px;
}
/*5. Tools */
.content {
	margin-left: 20%;
}
/* 5.1 Calculator */
#calculator {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

#display {
  width: 95%;
  margin-bottom: 10px;
}
a.nostyle {
	text-decoration: none;
	color: #fff;
}
/* Tools for: */
/** calculator.html **/
div.content {
  margin-top: 6em !important;
  margin-right: 26%;
  margin-left: 7%;
}

button.calc, .calc {
  width: 100%;
  padding: 5px;
}
