@font-face {
  font-family: 'Helmet Neue', 'Helmet', 'Helmet Regular', 'Helvetica', sans-serif, monospace;
  src: url("fonts/HelmetNeue-Regular.otf");
}
:root {
  --bs-body-font-family: 'Helmet Neue', 'Helmet', 'Helmet Regular', 'Helvetica', sans-serif, monospace;
}
.fancy-text {
   background: linear-gradient(to top left, #fc03f4, dodgerblue);
   -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
body {
  color: #fff !important;
  background-color: black !important;
}

