@font-face {
  font-family: 'Helmet Neue', 'Helmet', 'Helmet Regular', 'Helvetica', sans-serif, monospace;
  src: url("fonts/HelmetNeue-Regular.otf");
}
:root {
  --bs-body-font-family: 'Helmet Neue', 'Helmet', 'Helmet Regular', 'Helvetica', sans-serif, monospace;
}
.fancy-text {
   background: linear-gradient(to top left, #fc03f4, dodgerblue);
   -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
body {
  color:#fff !important;
  background-color: #000 !important;
  background-size: cover;
  height: 100vh;
}
.navbar > .container-fluid a, .navbar > .container-fluid .active {
    color:#fff;
}
.page-header {
	 user-select: none;
	 -moz-user-select: none;
	 -webkit-user-select: none;
	 background: #1d2124;
	 position: fixed;
	 top: 0;
	 height: 40px;
	 color: #fff;
	 width: 100%;
	 line-height: 40px;
}
 .page-header__top {
	 display: flex;
	 justify-content: space-between;
	 padding: 0 16px;
}
 .page-header__toggle {
	 font-size: 2em;
}
 .navigation {
	 opacity: 0.5;
	 height: 0;
	 overflow: hidden;
	 transition: 0.7s;
}
 .navigation__item {
	 background: #1d2124;
	 padding: 0 16px;
}
 .navigation--visible {
	 opacity: 1;
	 height: 200px;
}
 @media (min-width: 480px) {
	 .page-header {
		 display: flex;
	}
	 .page-header__top {
		 margin-right: auto;
	}
	 .page-header__top, .page-header__bottom {
		 display: block;
	}
	 .page-header__toggle {
		 display: none;
	}
	 .navigation {
		 display: block;
		 opacity: 1;
		 height: auto;
	}
	 .navigation__item {
		 opacity: 0.8;
		 display: inline-block;
	}
	 .navigation__item:hover {
		 cursor: pointer;
		 opacity: 1;
	}
}

