body.calculator-body {
     background:radial-gradient(circle at 115% -20%,#7c536e 0,#23112b 29%,#2a0936 50%,transparent 100%,rgba(0,0,0,.32) 0),radial-gradient(circle at 25% 125%,rgba(121,98,153,.5) 0,rgba(49,18,90,.8) 25%,#2a0936 50%);
  color: #fff;
}
.inputbox {
  border-radius: 5px;
  background-color: #3e2148;
  margin-left: 3.99em;
}
.page__header, .calculator-nav {
  background: #3a2840 !important;
}
input.calculator-input, input {
    margin-left: 4.85em !important;
}
input {
    width: 82%;
}
button {
    border: none;
    background-color: #3e2148;
    color: #fff;
    border-radius:5px;
}
button::before, button::after {
    content:"‎ " !important;
}
* {
    font-family: Inter;
}
h1 {
    font-weight: normal;
    font-size: 32px;
    line-height: 120%;
    margin-bottom:6px !important;
}
}
p {
    line-height:140%;
}
ul:not(.navigation) {
    margin-left: 4em;
}
